<a href="https://colab.research.google.com/github/samirjhb/samirjhb/blob/main/actividad3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%%capture
!pip install pyspark
!pip install pyarrow

In [ ]:
import pyspark
sc =  pyspark.SparkContext(master="local[*]", appName="ejemploRDD")

In [ ]:
from operator import add
data=list(range(100000))
rdd=sc.parallelize(data,2)
rdd.reduce(add)

4999950000

In [ ]:
import time
start=time.time()

from operator import add
data=list(range(100000))
rdd=sc.parallelize(data,100)
r=rdd.reduce(add)

end=time.time()
print("resultado: "+str(r) +" tiempo: "+str(end-start))

resultado: 4999950000tiempo: 16.841546773910522

In [ ]:
import time
start=time.time()

from operator import add
data=list(range(100000))
rdd=sc.parallelize(data,100)
rdd.repartition(10)
r=rdd.reduce(add)

end=time.time()
print("resultado: "+ str(r) + " tiempo: "+str(end-start))

resultado: 4999950000tiempo: 15.269330263137817

In [ ]:
import time
start=time.time()

from operator import add
data=list(range(100000))
rdd=sc.parallelize(data,10)
r=rdd.reduce(add)

end=time.time()
print("resultado: "+ str(r) + " tiempo: "+str(end-start))

resultado: 4999950000 tiempo: 1.4127354621887207

In [ ]:
import time
start=time.time()

from operator import add
data=list(range(100000))
rdd=sc.parallelize(data,100)
rdd=rdd.coalesce(10)
r=rdd.reduce(add)

end=time.time()
print("resultado: "+ str(r) + " tiempo: "+str(end-start))

resultado: 4999950000 tiempo: 2.484745740890503

In [ ]:
## Configurar excecutor

from pyspark.sql import SparkSession
from pyspark import SparkConf
conf = SparkConf().setAppName("app").setMaster("yarn").set("spark.excutor.instances", "5")
spark=SparkSession.builder.config(conf=conf).getOrCreate()
datos=[("A",10),
       ("B",11),
       ("A",2),
       ("B",5),
       ("C",7),
       ("C",10),
       ("C",2),
       ("A",1),]

columnas=["key", "value"]
df=spark.createDataFrame(datos, columnas)
r  = df.groupBy("key").sum("value")
r.show()

+---+----------+
|key|sum(value)|
+---+----------+
|  B|        16|
|  A|        13|
|  C|        19|
+---+----------+

In [ ]:

import time
start=time.time()
## Configurar excecutor
from pyspark.sql import SparkSession
from pyspark import SparkConf
conf = SparkConf().setAppName("app").setMaster("yarn").set("spark.excutor.instances", "5")
spark=SparkSession.builder.config(conf=conf).getOrCreate()
datos=[("A",10),
       ("B",11),
       ("A",2),
       ("B",5),
       ("C",7),
       ("C",10),
       ("C",2),
       ("A",1),]

columnas=["key", "value"]
df=spark.createDataFrame(datos, columnas)
r  = df.groupBy("key").sum("value")
r.show()
end=time.time()
print("resultado: "+ str(r) + " tiempo: "+str(end-start))

+---+----------+
|key|sum(value)|
+---+----------+
|  B|        16|
|  A|        13|
|  C|        19|
+---+----------+

resultado: DataFrame[key: string, sum(value): bigint] tiempo: 1.82781982421875

In [ ]:
## Configurar excecutor

from pyspark.sql import SparkSession
from pyspark import SparkConf
conf = SparkConf().setAppName("app").setMaster("yarn").set("spark.excutor.instances", "5")
spark=SparkSession.builder.config(conf=conf).getOrCreate()
datos=[("A",10),
       ("B",11),
       ("A",2),
       ("B",5),
       ("C",7),
       ("C",10),
       ("C",2),
       ("A",1),]

columnas=["key", "value"]
df=spark.createDataFrame(datos, columnas)
df.rdd.reduceByKey(add).collect()

[('C', 19), ('A', 13), ('B', 16)]

In [ ]:
import time
start=time.time()
## Configurar excecutor
from pyspark.sql import SparkSession
from pyspark import SparkConf
conf = SparkConf().setAppName("app").setMaster("yarn").set("spark.excutor.instances", "5")
spark=SparkSession.builder.config(conf=conf).getOrCreate()
datos=[("A",10),
       ("B",11),
       ("A",2),
       ("B",5),
       ("C",7),
       ("C",10),
       ("C",2),
       ("A",1),]

columnas=["key", "value"]
df=spark.createDataFrame(datos, columnas)
df.rdd.reduceByKey(add).collect()
end=time.time()
print("resultado: "+ str(r) + " tiempo: "+str(end-start))

resultado: DataFrame[key: string, sum(value): bigint] tiempo: 2.337556838989258

In [ ]:
import random
caracteres_predefinidos = "ABC"
n= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
longitud_lista = 10000
l1 = [random.choice(caracteres_predefinidos) for _ in range(longitud_lista)]
l2 = [random.choice(caracteres_predefinidos) for _ in range(longitud_lista)]
l3 = [random.choice(n) for _ in range(longitud_lista)]
datos=list(zip(l1,l2,l3))
columnas=["key1","key2","value"]

In [ ]:
df=spark.createDataFrame(datos,columnas)
df.show()

+----+----+-----+
|key1|key2|value|
+----+----+-----+
|   A|   A|    7|
|   C|   B|    5|
|   C|   A|    8|
|   A|   B|    7|
|   A|   A|    6|
|   C|   C|    1|
|   C|   C|    5|
|   A|   B|    2|
|   B|   A|    8|
|   B|   B|   10|
|   C|   C|    7|
|   A|   A|    2|
|   C|   C|    6|
|   B|   C|    8|
|   B|   A|   10|
|   C|   A|    5|
|   A|   B|    4|
|   A|   C|    2|
|   C|   C|    1|
|   B|   B|    6|
+----+----+-----+
only showing top 20 rows

In [ ]:
df2=df.rdd.map(lambda x :(x[1], x[2])).collect()
columnas=["key", "value"]
df2=spark.createDataFrame(df2, columnas)
df2.persist()

DataFrame[key: string, value: bigint]

In [ ]:
from pyspark.sql.functions import broadcast
df2=df.rdd.map(lambda x :(x[0]+x[1], x[2])).collect()
columnas=["key","value"]
df2=spark.createDataFrame(df2,columnas)
df2=df2.persist()
df3=[("AB",2),("AC",4)]
df3=spark.createDataFrame(df3,columnas)
df2.join(broadcast(df3),'key').show()

+---+-----+-----+
|key|value|value|
+---+-----+-----+
| AB|    7|    2|
| AB|    2|    2|
| AB|    4|    2|
| AC|    2|    4|
| AB|    4|    2|
| AC|    6|    4|
| AB|    9|    2|
| AC|    9|    4|
| AB|   10|    2|
| AB|    7|    2|
| AB|    8|    2|
| AC|    5|    4|
| AC|    5|    4|
| AB|    1|    2|
| AB|    5|    2|
| AB|    3|    2|
| AB|    3|    2|
| AB|    8|    2|
| AB|    5|    2|
| AB|    9|    2|
+---+-----+-----+
only showing top 20 rows

In [ ]:
import time
start=time.time()
# configurar excecutor
from pyspark.sql import SparkSession
from pyspark import SparkConf
conf= SparkConf().setAppName("app").setMaster("yarn").set("spark.excutor.instances","5")
spark= SparkSession.builder.config(conf=conf).getOrCreate()
df2.rdd.reduceByKey(add).collect()
end =time.time()
print("resultado:"+ str(r)+" tiempo:"+str(end-start))

resultado:DataFrame[key: string, sum(value): bigint] tiempo:2.3855807781219482

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")
gdrive='/content/gdrive/MyDrive/big data/'



import random
caracteres_predefinidos = "ABC"
n= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
longitud_lista = 10000
l1 = [random.choice(caracteres_predefinidos) for _ in range(longitud_lista)]
l2 = [random.choice(n) for _ in range(longitud_lista)]
datos=list(zip(l1,l2))
columnas=["key","value"]
df=spark.createDataFrame(datos,columnas)


n_bucket=3
cols_bucket=["key"]
carpeta=gdrive + "/bucket"
#df.write.bucketBy(2,*cols_bucket).saveAsTable("tabla_bucket", path=carpeta)
df.write.format('csv').bucketBy(n_bucket,*cols_bucket).mode("overwrite").saveAsTable("tabla_2",path=carpeta)
df_bucketed = spark.read.table("tabla_2")
df_bucketed.show()
df_bucketed.rdd.reduceByKey(add).collect()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
+---+-----+
|key|value|
+---+-----+
|  B|    4|
|  B|    9|
|  B|    7|
|  B|    7|
|  B|    9|
|  B|    8|
|  B|    4|
|  B|    8|
|  B|   10|
|  B|    5|
|  B|    7|
|  B|    3|
|  B|    6|
|  B|    2|
|  B|    3|
|  B|   10|
|  B|    6|
|  B|    3|
|  B|    4|
|  B|    5|
+---+-----+
only showing top 20 rows

[('C', 18570), ('B', 18272), ('A', 18625)]

In [ ]:
import time
start=time.time()
df_bucketed.rdd.reduceByKey(add).collect()
end =time.time()
print("resultado:"+ str(r)+" tiempo:"+str(end-start))

start=time.time()
df
end =time.time()
print("resultado:"+ str(r)+" tiempo:"+str(end-start))

resultado:DataFrame[key: string, sum(value): bigint] tiempo:1.0770611763000488
resultado:DataFrame[key: string, sum(value): bigint] tiempo:8.702278137207031e-05

In [ ]:
df.show()

+----+-----+
|key1|value|
+----+-----+
|   C|   10|
|   B|    1|
|   B|    2|
|   A|    3|
|   C|    5|
|   B|    9|
|   A|    9|
|   A|    1|
|   B|    7|
|   B|    3|
|   C|    9|
|   A|    1|
|   C|    8|
|   C|   10|
|   B|    7|
|   C|    8|
|   C|    9|
|   B|    7|
|   C|    8|
|   A|    9|
+----+-----+
only showing top 20 rows